<% unless logged_in?%>
    <% flash.each do |type, msg| %>
	  <div class="alert alert-warning">
	    <%= msg %>
	  </div>
    <% end %>
    <div class="container px-6 px-lg-5 err_btns">
	  	<%= link_to "Log In with Google", '/auth/google_oauth2', method: :get, :class => "btn btn-outline-info" %>
		<br><br>
		<%= link_to "Back to homepage", '/posts', :class => "btn btn-outline-info"%>
	</div>	
<% end %>